<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">      
        <activity android:name=".home.HomeControlActivity"></activity>
        <activity android:name=".home.air.AirControlActivity"></activity>
        <activity android:name=".home.light.LightControlActivity"></activity>
        <activity android:name=".car.Car" />
        <activity android:name=".driving.Driving_Info" />
        <activity
            android:name=".driving.Driving"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".home.alarms.PopupActivity" android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPym8BlOiqzYuhwElya63AaS5miu29frM" />

        <service
            android:name=".home.alarms.AlarmsService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>